.submenu {
  background-color: #f9f9fa;
  height: 70px;
  width: 100%;
  padding-left: 85px;
  padding-right: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  .submenu-text {
    background-color: #f9f9fa;
    height: 70px;
    width: 100%;
    padding-left: 85px;
    padding-right: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .submenu-list {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .submenu-wrapper {
      padding: 4px 8px;
      padding-bottom: 0;
      font-size: 0.85rem;
      font-weight: 700;
      padding-top: 10px;
      user-select: none;
      cursor: pointer;
      position: relative;
      transition: 0.2s all;

      &::after {
        content: "";
        position: absolute;
        left: -5px;
        bottom: -6px;
        width: 110%;
        height: 6px;
        background-color: white;
        pointer-events: none;
      }

      &.active {
        background-color: white;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        box-shadow: 0 0 1.5px 1.5px #e6e6e6;

        .submenu-item {
          color: #7918e0;
        }
      }

      .submenu-item {
        text-align: center;
        color: gray;

        &:hover {
          color: #7918e0;
        }
      }
    }
  }
}
