.menuproducts {
  width: 840px;
  height: 1000px;
  margin-left: 400px;
  box-shadow: 0 0 1.5px 1.5px #e6e6e6;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  .menuproducts-filter {
    width: 380px;
    height: 35px;
    display: flex;
    justify-content: space-between;

    .menuproducts-filter-first {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .menuproducts-wrapper {
        width: 120px;
        height: 35px;
        background-color: #e6e6e6;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #e6e6e6;
          color: #000;
        }

        .menuproducts-item {
          text-align: center;
          font-size: 0.8rem;
          color: rgb(0, 0, 0);

          &:hover {
            color: #7918e0;
          }
        }
      }
    }
  }
}
